{% extends "site_layout/layout.html" %}
{% load static %}

{% block body %}

<div class="card border-0 rounded-0 text-bg-dark d-none d-xl-block">
    <img src="{% static 'site_layout/images/test.jpg' %}" class="card-img" alt="...">
    <div class="card-img-overlay d-flex justify-content-center align-items-center">
        <div class="text-center" style="color: #000;">
            <h1 class="display-4 mb-5">Emotionsfokuseret psykoterapi EFT</h1>
            <a href="#" class="btn btn-primary btn-large mb-5">Kontakt mig</a>
        </div>
    </div>
</div>

<div class="container d-xl-none">
<div class="container border-top border-bottom border-black text-center">
	<h1 class="display-1 mb-2">Emotionsfokuseret psykoterapi EFT</h1>
	<a href="#" class="btn btn-primary btn-large mb-3">Kontakt mig</a>
</div>
</div>

<div class="container mt-5 text-blue">
    <h2 class="display-6 pb-4">Hvad er Emotionsfokuseret psykoterapi EFT?</h3>
    <p class="fs-5 lh-base"> EFT hjælper med at skabe bevidsthed om de underliggende behov og ønsker, der driver vores følelsesmæssige reaktioner, hvilket giver en dybere forståelse af både os selv og vores relationer. Gennem denne terapiform lærer man at udtrykke og bearbejde følelser på en sund og konstruktiv måde, hvilket kan føre til mere tilfredsstillende og autentiske mellemmenneskelige forhold. </p>
</div>
</div>

<div class="container-fluid custom-light-yellow py-3 mt-0">
	<div class="container mt-3 text-center text-black">
		<h2 class="display-6 ">Terapiområder, som jeg kan hjælpe med</h3>
		<ul class="fs-5"> 
			<li class="list-group-item pb-2"> · Depression</li>
			<li class="list-group-item pb-2"> · Lavt selvværd</li>
			<li class="list-group-item pb-2"> · Skam og skyld</li>
			<li class="list-group-item pb-2"> · Tab og forandring</li>
            <li class="list-group-item pb-2"> · Uhensigtsmæssige mønstre</li>
            <li class="list-group-item pb-2"> · Følelser der er svære at forstå</li>
            <li class="list-group-item pb-2"> · Pårørende til mennesker med misbrug</li>
            <li class="list-group-item pb-2"> · Oplevelsen af at have mange konflikter</li>
			<li class="list-group-item pb-2"> · Forældre som ønsker terapi ift. en konkret problemstilling</li>
		</ul>
	</div>
</div>




<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-5">
                <h2 class="display-6 pb-2">Følelsesbalance</h2>
                <p class="fs-5 lh-base">I emotionsfokuseret psykoterapi arbejder vi med at undersøge følelser, både dem der måske fylder for meget eller for lidt. Dette for at finde ind til en indre balance, som hjælper os til at reagere mere passende, eller mere autentisk ud fra de værdier og behov vi har.</p>
            </div>
            <div>
                <h2 class="display-6 pb-2">Fokus på følelser</h2> 
                <p class="fs-5 lh-base">Emotionsfokuseret psykoterapi har særligt fokus på følelseslivet og ser vores følelser som vores vigtigste navigationssystem. Mange af os har lært at skrue ned for følelserne eller helt at overhøre dem. Det opdager vi måske først, når vi er kommet på afveje, væk fra os selv og andre.</p>
            </div>
        </div>
        
        <div class="col-md-6">
            <img src="{% static 'site_layout/images/balance.jpg' %}" class="img-fluid custom-image" alt="Beskrivende tekst">
        </div>
    </div>  
</div>
<style>
    .custom-image {
        border-radius: 15px; 
        margin-top: 40px; 
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    }
    </style>

<div class="container-fluid custom-dark-blue py-5 mt-3">

</div>

<div class="container mt-5">
    <div class="row mt-5 text-black">
            <div class="col-md-6">
                <h2 class="display-6 pb-2">Mentale Konsekvenser</h2> 
                <p class="fs-5 lh-base pb-4">Det kan have store konsekvenser for vores mentale helbred når vi kommer langt væk fra os selv og det komplicerer ofte kontakten til vores følelser og vores relationer til andre mennesker. Vi kan opleve konsekvenser som depression, lavt selvværd, ensomhed, angst, stress, selvskade, konflikter. </p>
                <h2 class="display-6 pb-3">Ubalance og Selvkontakt</h2> 
                <p class="fs-5 lh-base">Sommetider kan vi opleve, at vi følelsesmæssigt kommer 'ud af balance' eller at vi mister kontakten med os selv. </p>
            </div>
    
            <div class="col-md-6">
                <h2 class="display-6 pb-2">Procesorienteret Terapi</h2>
                <p class="fs-5 lh-base">I psykoterapi arbejder vi procesorienteret. Det vil sige, at vi arbejder med og belyser det, der er din virkelighed her og nu. Du vil opleve, at du bliver bedre rustet til at tage ansvar og træffe gode valg for dig selv. Psykoterapi er begyndelsen på en personlig udvikling, hvor du bl.a. lærer at skelne mellem det du har indflydelse på og det der ligger uden for din indflydelse.</p>
                <img src="{% static 'site_layout/images/EFT-logo.png' %}" alt="EFT Logo" class="responsive-image" style="max-width: 30%; height: auto; display: block; margin: auto;">
            </div>
        </div>
    </div>
    
    <div class="container-fluid custom-light-red py-5 mt-5">
        <div class="container mt-5 text-center text-blue">
            <h2 class="display-6 pb-4">Måske kan du genkende dig selv i det her eller noget der ligner</h3>
            <p class="fs-5 lh-base"> Tage fat i mig, ved at send en sms til 26362000 hvis du har spørgsmål eller udfyld formularen og jeg kontakter dig. </p>
            <a href="#" class="btn btn-primary btn-large mb-3">Kontakt mig</a>
        </div>
    </div>
    {% endblock %}