{% extends "site_layout/layout.html" %}
{% load static %}

{% block body %}


<div class="card border-0 rounded-0 text-bg-dark d-none d-xl-block">
	<img src="{% static 'site_layout/images/udvidet_kristina2.jpg' %}" class="card-img" alt="...">
	<div class="card-img-overlay">
		<div class="container">
			<div class="col-6 text-center mt-5">	
				<div class="d-none d-lg-block">
					<h2 class="card-title pb-2 pt-4">Priser og booking</h2>
					<p class="card-text fs-5 lh-base border-bottom pb-4">Velkommen til min praksis! 
                        Vi tilbyder tre forskellige terapipakker for at imødekomme dine behov: 
                        Enkelt session for dem, der har brug for en engangs konsultation; 
                        klippekort med 5 sessioner for kontinuerlig støtte og dybere udforskning; 
                        samt en speciel pakke for studerende og ældre med reduceret pris. 
                        Uanset hvilken pakke du vælger, arbejder vi sammen for at skabe et 
                        trygt rum til personlig udvikling og positive forandringer. 
                        Kontakt os for at finde den rette løsning for dig!</p>
                    <a href="{% url 'index' %}#contact_form" class="btn btn-primary btn-large mt-3">Kontakt mig</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container d-xl-none">
	<!-- Hero - overskift sektionen --> 
	<div class="border-top border-bottom border-black text-center">
		<h1 class="display-1 mb-2">Psykoterapi Frederiksberg</h1>
		<blockquote class="my-4 h2"><em>"For at ændre følelser <br> må du arbejde med følelser."</em></blockquote>
		<a href="#" class="btn btn-primary btn-large mb-3">Kontakt mig</a>
	</div>

	<!--Container med tekst til venstre og billede til højre-->   
	<div class="mt-5 position-relative">
		<div class="row">
			<div class="col-lg-6 text-section">
				<h2 class="display-6 pb-2">Priser og booking</h2>
				<p class="fs-5 lh-base">Velkommen til min praksis! 
                    Vi tilbyder tre forskellige terapipakker for at imødekomme dine behov: 
                    Enkelt session for dem, der har brug for en engangs konsultation; 
                    klippekort med 5 sessioner for kontinuerlig støtte og dybere udforskning; 
                    samt en speciel pakke for studerende og ældre med reduceret pris. 
                    Uanset hvilken pakke du vælger, arbejder vi sammen for at skabe et 
                    trygt rum til personlig udvikling og positive forandringer. 
                    Kontakt os for at finde den rette løsning for dig!</p>
			</div>
			<div class="col-lg-6 image-section">
				<img src="{% static 'site_layout/images/foto.jpg' %}" class="img-fluid image" alt="Beskrivelse"> 
			</div>
		</div>
	</div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <h1 class="">Adresser</h1>
            <p class="fs-5 lh-base">Jeg har klinik på to adresser:</p>
            <ul>
                <li class="list-item fs-5 lh-base">Hearthouse Amagertorv 14B, 3.sal, 1160 kbh K.</li>
                <li class="list-item fs-5 lh-base">Thorvaldsensvej 12, 1871 Frederiksberg C.</li>
            </ul>  
        </div>
        <div class="col-md-6">
            <iframe class="d-block mx-auto" width="500" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=275&amp;height=400&amp;hl=en&amp;q=Thorvaldsensvej%2012,%201871%20Frederiksberg%20C.%20Frederiksberg+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://embedmaps.net'>embed google map on website</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=10cfc23c6ee5bd1ce9a2e531d0f4c6e77535fcfe'></script>
        </div>
    </div>
</div>
<div class="container my-4">
    <h1 class="text-center my-4">Priser og praktisk</h1>
    <div class="row text-center">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Individuel terapi <br> á 60 minutter</h5>
                    <h4 class="card-subtitle mb-2 text-body-secondary">800,- Kr</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'index' %}#contact_form" class="btn btn-primary">Kontakt mig</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Individuel terapi á 60 minutter klippekort 5 gange</h5>
                    <h4 class="card-subtitle mb-2 text-body-secondary">3.750,- Kr</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'index' %}#contact_form" class="btn btn-primary">Kontakt mig</a>
                </div>
            </div>
        </div>  
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Individuel terapi á 60 minutter klippekort 5 gange</h5>
                    <h4 class="card-subtitle mb-2 text-body-secondary">3.750,- Kr</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'index' %}#contact_form" class="btn btn-primary">Kontakt mig</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}