<div class="container-fluid g-0">
	<img src="{% static 'site_layout/images/udvidet_kristina2.jpg' %}" class="img-fluid" alt="...">
	<div class="row">
		<div class="col-6">
			<h1 class="display-1 mb-2">Psykoterapi Frederiksberg</h1>
		</div>
	</div>
</div>


<!-- Hero - overskift sektionen --> 
<div class="container border-top border-black text-center">
	<h1 class="display-1 mb-2">Psykoterapi Frederiksberg</h1>
	<blockquote class="my-4 h2"><em>"For at ændre følelser <br> må du arbejde med følelser."</em></blockquote>
	<a href="#" class="btn btn-primary btn-large mb-3">Kontakt mig</a>
</div>


<div class="card border-0 rounded-0 text-bg-dark d-none d-xl-block">
    <img src="{% static 'site_layout/images/test.jpg' %}" class="card-img" alt="...">
    <div class="card-img-overlay d-flex justify-content-center align-items-center">
        <div class="text-center" style="color: #000;">
            <h1 class="display-4 mb-5">Emotionsfokuseret psykoterapi EFT</h1>
            <a href="#" class="btn btn-primary btn-large mb-5">Kontakt mig</a>
        </div>
    </div>
</div>

<div class="container d-xl-none">
<div class="container border-top border-bottom border-black text-center">
	<h1 class="display-1 mb-2">Emotionsfokuseret psykoterapi EFT</h1>
	<a href="#" class="btn btn-primary btn-large mb-3">Kontakt mig</a>
</div>
</div>

<div class="col-md-6">
	<img src="{% static 'site_layout/images/Terapi Billede.jpeg' %}" alt="Terapibillede" class="img-fluid">
</div>