<div class="container-fluid g-0">
	<img src="{% static 'site_layout/images/udvidet_kristina2.jpg' %}" class="img-fluid" alt="...">
	<div class="row">
		<div class="col-6">
			<h1 class="display-1 mb-2">Psykoterapi Frederiksberg</h1>
		</div>
	</div>
</div>


<!-- Hero - overskift sektionen --> 
<div class="container border-top border-black text-center">
	<h1 class="display-1 mb-2">Psykoterapi Frederiksberg</h1>
	<blockquote class="my-4 h2"><em>"For at ændre følelser <br> må du arbejde med følelser."</em></blockquote>
	<a href="#" class="btn btn-primary btn-large mb-3">Kontakt mig</a>
</div>