@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


html * {
    font-family: 'Playfair Display', serif !important;
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar {
    transition: all 0.5s;
}

.navbar {
    font-family: 'Playfair Display', serif;
}

.custom-light-red {
  background-color: #E0B4A4;
}

.custom-light-yellow {
    background-color: #F9DBAB;
}

.custom-dark-blue {
    background-color: #22404A;
}

.asteriskField {
    display: none;
}

#id_message {
    height: 100px;
}

.scrolled-down{
  transform:translateY(-100%); 
  transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); 
  transition: all 0.3s ease-in-out;
}

#header-background {
  background-image: url("images/udvidet_kristina2.jpg");
}


  



