@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


html * {
    font-family: 'Playfair Display', serif !important;
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar {
    transition: all 0.5s;
}

.navbar {
    font-family: 'Playfair Display', serif;
}


.custom-light-yellow {
    background-color: #F9DBAB;
}

.custom-dark-blue {
    background-color: #22404A !important;
}

.asteriskField {
    display: none;
}

#id_message {
    height: 100px;
}

.scrolled-down{
    transform:translateY(-100%); 
    transition: all 0.3s ease-in-out;
  }
.scrolled-up{
    transform:translateY(0); 
    transition: all 0.3s ease-in-out;
  }

/* Mads' styles */
.hero-banner { 
    text-align: center; 
    padding: 3rem 0; 
    border-top: 0.1rem solid #000; 
    border-bottom: 0.1rem solid #000; 
    margin-bottom: 4rem; 
  }
  
  .hero-title { 
    font-size: calc(2rem + 2vw); /* Dynamisk størrelse baseret på viewport width */
    white-space: nowrap; 
  }
  
  .hero-subtitle { 
    font-size: calc(1rem + 1vw); 
    font-style: italic; 
  }
  
  .btn-custom { 
    background-color: rgb(255, 183, 0); 
    color: black; 
    padding: 1.5rem 2rem; 
    font-size: 1.5rem; 
  }
  
  .content { 
    margin-top: 15rem; 
  }
  
  .content-title { 
    font-size: calc(1.5rem + 1vw); 
    margin-bottom: 3rem; 
  }
  
  .content-text { 
    font-size: calc(1rem + 0.5vw); 
    line-height: 1.6; 
  }
  
  .responsive-image {
    max-width: 70%;  
    height: auto;  
    display: block; 
    margin-left: auto;
    margin-right: 5%; 
  }
  
  .list-container { 
    margin-top: 15rem; 
    text-align: center; 
  }
  
  .list-title { 
    font-size: calc(1.5rem + 1vw); 
    margin-bottom: 3rem; 
  }
  
  .list-item { 
    font-size: calc(1rem + 0.5vw); 
    margin-bottom: 2rem; 
    text-align: left;
  }

  .list-item {
    margin-bottom: 1rem; /* Tilføjer lidt plads mellem listeelementerne */
    /* Tilføj yderligere stilarter her efter behov */
}

.text-section, .image-section {
  margin-bottom: 2rem;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Justerer indholdet til venstre */
}

  .blur-effect {
    filter: blur(2px); 
  }

  /* Mads' tekst står til venstre  */
.left-aligned-section .content-title,
.left-aligned-section .content-text,
.left-aligned-section .list-item {
  text-align: left;
}

.left-aligned-section .list-item {
  margin-bottom: 1rem; /* Tilføjer lidt plads mellem listeelementerne */
}