@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {
  background-color: #F6F6F4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif !important;
}

p, div, li, a {
  font-family: 'Josefin Sans', sans-serif !important;
}

a.navbar-brand {
  font-family: 'Playfair Display', serif !important;
}

.asteriskField {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*.navbar-scrolled {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}*/

.navbar {
    font-family: 'Playfair Display', serif;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.blush {
  background-color: #e3d1bf;
}

.white-chocolate {
  background-color: #EBE5DC;
}

.sky-blue {
  background-color: #D6E0E2;
}

.forest-green {
  background-color: #5E6C5B;
}

.midnight {
  background-color: #162a2cde;
}

#id_message {
  height: 100px;
}

#header-background {
  background-image: url("images/udvidet_kristina2.jpg");
}